<div class="spinner-grow text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Coco Carragher</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Econ Major, CS Minor, Student Athlete</h6>
    <p class="card-text">I am a CS minor at Connecticut College.</p>
    <a href="https://camelathletics.com/sports/sailing/roster/coco-carragher/7518" class="card-link">Roster Page</a>
    <a href="https://manishkandpal-random-gif-generator.vercel.app/" class="card-link">Random Gif Generator</a>
  </div>
</div>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Professor Tarimo</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Computer Science Professor</h6>
    <p class="card-text">Computer-Supported Agile Teaching (CSAT), Web Technologies Professor, CS Web.</p>
    <a href="https://www.conncoll.edu/directories/faculty-profiles/william-tarimo/" class="card-link">Profile Page</a>
    <a href="https://manishkandpal-random-gif-generator.vercel.app/" class="card-link">Random Gif Generator</a>
  </div>
</div>

